venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
**/venv/
.venv/
*.dll
*.exe
*.h5
*.keras
*.pkl
config.json
.env
Thumbs.db
mlruns/
mlflow.db
mlflow.db-journal
*.tflite
*.pb
.streamlit/config.toml